jupyter
matplotlib == 3.4.2 
numpy == 1.20.3
pandas == 1.2.4
scikit-learn
seaborn

datasets
nltk == 3.6.7
timm == 0.4.9
tqdm
torch == 1.11
torchmetrics
transformers

# Models
git+https://github.com/openai/CLIP.git
